In [11]:
import pandas as pd
import numpy as np

In [7]:
submit1 = pd.read_csv("/users/maoshijie/Downloads/LB1541_final_ensemble.csv")
submit2 = pd.read_csv("/users/maoshijie/Downloads/vggbnw_fcn_en.csv")

In [19]:
len(submit2)

8424

In [25]:
df = pd.merge(submit1, submit2, on='id')
df['is_iceberg'] = (df['is_iceberg_x'] + df['is_iceberg_y'])/2
df[['id','is_iceberg']].to_csv('stacking_from_staked.csv', index=False)

In [15]:
submit1.head(10)

         id  is_iceberg
0  5941774d    0.006448
1  4023181e    0.758083
2  b20200e4    0.041054
3  e7f018bb    0.996372
4  4371c8c3    0.007940
5  a8d9b1fd    0.852900
6  29e7727e    0.022970
7  92a51ffb    0.997679
8  c769ac97    0.000007
9  aee0547d    0.000002

In [16]:
submit2.head(10)

         id  is_iceberg
0  000c65d7    0.969171
1  001680af    0.319137
2  00193999    0.975653
3  00247e48    0.993207
4  00503faa    0.001801
5  00542824    0.004722
6  005d1a8d    0.998023
7  006369ec    0.005078
8  00652788    0.074384
9  006655ad    0.997963

In [26]:
df.head(10)

         id  is_iceberg_x  is_iceberg_y  is_iceberg
0  5941774d      0.006448      0.030369    0.018408
1  4023181e      0.758083      0.364333    0.561208
2  b20200e4      0.041054      0.017298    0.029176
3  e7f018bb      0.996372      0.998199    0.997285
4  4371c8c3      0.007940      0.657598    0.332769
5  a8d9b1fd      0.852900      0.257216    0.555058
6  29e7727e      0.022970      0.022536    0.022753
7  92a51ffb      0.997679      0.998681    0.998180
8  c769ac97      0.000007      0.001470    0.000739
9  aee0547d      0.000002      0.000067    0.000034